body,
.main-background {
  background-color: #f6f6f6;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.main-body {
  background-color: white;
  margin-top: 5vh;
  padding: 35px 50px;
}

h1 {
  font-size: 32px;
  font-weight: 550;
}

h2 {
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 26px;
}

@media screen and (min-width: 800px) {
  .main-body {
    width: 80%;
    margin: 5vh auto; /* To center the div horizontally */
    padding: 35px 50px;
  }
}

/* Styles for mobile view */
@media screen and (max-width: 799px) {
  .main-body {
    width: 100%;
    margin: 0;
    padding: 35px 25px;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
