.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 0px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/265631/pexels-photo-265631.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

form {
  width: 50%;
}
.search-box {
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 0.7em;
  width: 100%;
  padding: 5px 20px;
}

h3 {
  padding: 20px;
}

.support-tree {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #707070;
  width: 55%;
  padding: 15px 20px;
  cursor: pointer;
}

.support-tree :hover {
  background-color: #f3f3f3;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
